@import (reference) '../variables.less';

.app-settings {
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: @max-content-width * 0.5;
    outline: 1px solid fade(@theme4, 10%);

    &__details {
        color: @theme4;
        font-size: 13px;
    }

    &__entry {
        display: flex;
        min-height: 24px;
        width: 100%;
        margin: 12px 0px;
        align-items: flex-end;
        justify-content: center;
        border-bottom: 2px solid fade(@theme4, 10%);

        &-heading {
            .small-heading();

            flex-grow: 1;
        }

        &-value {
            &_button {
                .base-button();

                margin: 0px auto;
            }

            &_checkbox {
                .base-checkbox();

                margin: 2px;
            }

            &_text {
                .base-heading();
            }

        }
    }

    &__heading {
        color: @theme3;
    }
}
