@import (reference) '../variables.less';

.app-settings {
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: @max-content-width * 0.5;
    outline: 1px solid fade(@theme4, 10%);

    &__details {
        color: @theme4;
        font-size: 13px;
    }

    &__entry {
        .wide-detail-row();
    }

    &__heading {
        color: @theme3;
    }
}
