@import (reference) '../variables.less';

.addon-manager {
    padding-top: 164px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__count {
        position: absolute;
        right: 0px;
        top: -30px;
        font-family: Heebo;
        font-size: 96px;
        font-weight: bold;
        color: lighten(@theme0, 5%);
    }

    &__controls {
        -webkit-app-region: no-drag;
        position: absolute;
        bottom: 12px;
        display: flex;

        > * {
            margin-right: 2px;
        }
    }

    &__header {
        -webkit-app-region: drag;
        position: fixed;
        top: @titlebar-height;
        width: calc(100% - @navbar-width - @scrollbar-width);
        z-index: 1;
        border-bottom: 1px solid @theme0;
        overflow: hidden;

        button {
            .base-button();

            height: 40px;
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;

            &:not(:empty):before {
                padding-right: 8px;
            }
        }

        &_collapsed {
            button {
                width: 40px;
            }
        }

        #resync:before {
            content: '\f2f1';
            font-family: FontAwesome;
            font-size: 20px;
        }

        #download-all:before {
            content: '\f019';
            font-family: FontAwesome;
            font-size: 20px;
        }
    }

    &__table {
        height: 100%;
        width: 100%;
        margin: auto;
        max-width: @max-content-width;
        border-collapse: collapse;
        table-layout: fixed;

        th {
            .small-heading();

            position: sticky;
            z-index: 1;
            top: 65px;
            padding-top: 8px;
            background: linear-gradient(-45deg, rgb(33, 33, 33), rgb(8, 14, 12)) fixed;
        }

        .addon-row {
            height: 44px;
            align-items: center;
            border-top: 2px solid @theme0;
            color: @theme4;
            font-size: 14px;
            transition: background-color 50ms;
            white-space: nowrap;

            &__title {
                color: lighten(@theme4, 10%);
                padding-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__authors {
                padding-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &[data-type="-1"] {
                background-color: fade(@red, 10%);
            }

            &[data-type="0"] {
                background-color: fade(cyan, 5%);
            }

            &:hover {
                background-color: fade(@theme1, 30%);
            }
        }
    }
}
