@import (reference) '../variables.less';

.addon-manager {
    position: relative;
    padding-top: 164px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__count {
        position: absolute;
        right: 0px;
        top: -30px;
        font-family: Heebo;
        font-size: 96px;
        font-weight: bold;
        color: lighten(@theme0, 5%);
    }

    &__controls {
        -webkit-app-region: no-drag;
        position: absolute;
        bottom: 24px;
        display: flex;

        > * {
            margin-right: 2px;
        }
    }

    &__header {
        -webkit-app-region: drag;
        position: fixed;
        top: @titlebar-height;
        width: calc(100% - @navbar-width - @scrollbar-width);
        z-index: 1;
        border-bottom: 1px solid @theme0;
        overflow: hidden;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1px solid @theme2;
            color: @theme4;
            font: inherit;
            font-size: 14px;
            outline: none;
            cursor: pointer;
            transition: border 100ms;

            &:hover {
                border: 1px solid @theme3;
            }

            &:not(:empty):before {
                padding-right: 8px;
            }

            span {
                height: 12px;
            }
        }

        button {
            height: 40px;
            width: 40px;
        }

        #resync:before {
            content: '\f2f1';
            font-family: FontAwesome;
            font-size: 20px;
        }

        #download-all:before {
            content: '\f019';
            font-family: FontAwesome;
            font-size: 20px;
        }
    }

    &__table-header {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        color: lighten(@theme0, 50%);
        font-size: 11px;
        text-transform: uppercase;
    }

    &__table-header, .addon-row {
        display: flex;

        > *:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
        }

        > *:nth-child(2) {
            flex-grow: 1;
            padding-left: 20px;
        }

        > *:nth-child(3) {
            min-width: 150px;
            max-width: 150px;
        }
    }

    &__table {
        height: 100%;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    .addon-row {
        height: 40px;
        align-items: center;
        border-top: 1px solid @theme0;
        border-bottom: 1px solid @theme0;
        color: @theme4;
        font-size: 14px;
        transition: background-color 50ms;
        white-space: nowrap;

        &__title {
            display: block;
            color: lighten(@theme4, 10%);
            padding-top: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__authors {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &[data-type="-1"] {
            background-color: fade(@red, 10%);
        }

        &[data-type="0"] {
            background-color: fade(cyan, 5%);
        }

        &:hover {
            background-color: fade(@theme1, 30%);
        }
    }
}
