@import (reference) '../variables.less';

.addon-manager {
    padding-top: 164px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__count {
        position: absolute;
        right: 0px;
        top: -30px;
        font-family: Heebo;
        font-size: 96px;
        font-weight: bold;
        color: lighten(@theme0, 5%);
    }

    &__controls {
        -webkit-app-region: no-drag;
        position: absolute;
        bottom: 12px;
        display: flex;

        > * {
            margin-right: 2px;
        }
    }

    &__header {
        -webkit-app-region: drag;
        position: fixed;
        top: @titlebar-height;
        width: calc(100% - @navbar-width - @scrollbar-width);
        z-index: 2;
        overflow: hidden;

        button {
            .base-button();

            height: 40px;
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;

            &:not(:empty):before {
                padding-right: 8px;
            }
        }

        &_collapsed {
            button {
                width: 40px;
            }
        }

        #resync:before {
            content: '\f2f1';
            font-family: FontAwesome;
            font-size: 20px;
        }

        #download-all:before {
            content: '\f019';
            font-family: FontAwesome;
            font-size: 20px;
        }
    }

    &__table {
        margin: 0 auto;
        width: 100%;
        max-width: @max-content-width;

        &-head, .addon-row {
            display: grid;
            grid-template-columns: 75px 4fr 120px 1fr;
        }

        &-head {
            .small-heading();

            position: sticky;
            z-index: 1;
            top: 65px;
            padding-top: 8px;
            background: linear-gradient(-45deg, rgb(33, 33, 33), rgb(8, 14, 12)) fixed;
            text-align: center;
        }

        .addon-row, .addon-large-row {
            position: relative;
            color: @theme4;
            font-size: 14px;
            overflow: hidden;
            transition: 200ms, background-color 50ms;
        }

        .addon-row {
            height: 36px;
            align-items: center;
            border-top: 2px solid @theme0;
            padding: 4px 0px 2px 0px;
            white-space: nowrap;

            &.enter-done, &.enter-active {
                height: 36px;
                opacity: 1;
            }

            &.exit-active, &.exit-done {
                height: 0px;
                opacity: 0;
                padding: 0px;
            }

            > * {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__status {
                margin-top: -2px;
            }

            &__title {
                color: lighten(@theme4, 10%);
            }

            &__version {
                font-size: 12px;
            }

            &[data-type="-1"] {
                background-color: fade(@red, 10%);
            }

            &[data-type="0"] {
                background-color: fade(cyan, 5%);
            }

            &:after {
                content: '\f107';
                font-family: FontAwesome;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 50%;
                bottom: 0%;
                opacity: 0;
                transition: 300ms;
                transform: translate(-25%);
            }

            &:hover {
                background-color: fade(@theme1, 30%);

                &:after {
                    bottom: -13%;
                    opacity: 1;
                    transition: 300ms;
                }
            }
        }

        .addon-large-row {
            position: relative;

            &.enter-done, &.enter-active {
                height: 300px;
                opacity: 1;
            }

            &, &.exit-done, &.exit-active {
                height: 0px;
                opacity: 0;
            }

            &__close {
                .small-heading();

                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 20px;
                font-family: FontAwesome;
                font-size: 18px;

                &:hover {
                    background-color: fade(@theme4, 5%);
                }
            }
        }
    }
}
