@navbar-width: 160px;
@scrollbar-width: 15px;
@titlebar-height: 26px;
@max-content-width: 1280px;

// palette 1
@theme0: #202020;
@theme1: #1B2E28;
@theme2: #1B4A46;
@theme3: #007261;
@theme4: #B1D1DB;

// palette 2
// @theme0: #FEFEFE;
// @theme1: #DBCDD0;
// @theme2: #B7A5A8;
// @theme3: #716970;
// @theme4: #4A4346;

@red: #983434;

.small-heading() {
    color: #a0a0a0;
    font-size: 11px;
    text-transform: uppercase;
}

.base-heading() {
    color: @theme4;
}

.base-input() {
    &:hover {
        border: 1px solid @theme3;
    }

    &:active {
        background: darken(@theme2, 10%);
    }
}

.base-button() {
    .base-input();

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 8px 16px;
    border: none;
    background: none;
    border: 1px solid @theme2;
    color: @theme4;
    font: inherit;
    outline: none;
    cursor: pointer;
    transition: 75ms;

    &:before {
        margin-top: -6px;
    }

    &[disabled] {
        background: desaturate(@theme2, 50%);
        border: 1px solid desaturate(@theme2, 30%);
        color: desaturate(@theme4, 50%);
        pointer-events: none;
    }
}

.base-checkbox() {
    .base-input();

    display: grid;
    appearance: none;
    margin: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid @theme2;
    outline: none;

    &:checked {
        &:before {
            content: '\f00c';
            color: @theme4;
            font-family: FontAwesome;
            margin: auto;
        }
    }
}
